:root{
    --label-bg: rgba(255, 255, 255, .25);
    --gui-bg: rgba(255, 255, 255, 0.75);
}

*{
    font-family: Helvetica, Arial, Sans;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: #000000;
}

#canvas{
    width: 100%;
    max-width: 100vw;
    height: 100%;
    max-height: 100vh;
    display: block;
    transition: background-color .5s;
}

/**************/

.fulllay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

/**************/

#labelContainer{
    pointer-events: none;
}

.label{
    background-color: var(--label-bg);
    display: block;
    position: absolute;
    transform: translateY(-100%);
    white-space: nowrap;
    padding: 2px;
    border-left: 3px solid;
}

/**************/

#overlay{
    
}

#alerts{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1003;
}

.alert{
    padding: 8px;
    border: 1px solid;
    display: inline-block;
    margin: auto;
}

.alert-error{
    border-color: #ff0000;
    background-color: #ff5555;
}

/****/

#initScreen{
    background-color: white;
}

#logo{
    width: 50vmin;
}

#loadingBar-wrap{
    width: 100vmin;
    margin: 32px 0;
    text-align: center;
}

#loadingBar{
    width: 100%;
    overflow: hidden;
    background-color: gray;
    border-radius: 5px;
}

#loadingBar-progress{
    padding: 4px;
    background-color: #ff8000;
    color: white;
    font-weight: bold;
    transition: background-color .5s;
}

#loadingBar-progress.pulsing{
    animation-name: pulsing;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-duration: 0.5s; 
}

@keyframes pulsing{
    to{background-color: transparent}
}


/****/

.dropdown-toggle{
    width: 100%;
    cursor: pointer;
}

.dropdown-toggle::after{
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: " \f0d7";
}

.dropdown-toggle.up::after{
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: " \f0d8";
}

.collapsible{
    overflow: hidden;
}

.collapsible.hidden{
    display: none;
}

@media only screen and (max-width: 768px){
    .collapsible{
        display: none;
    }
}

.menu{
    list-style-type: none;
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.menu-item{
    padding: 8px 16px;
    margin: 2px;
    background-color: var(--gui-bg);
    display: block;
    min-width: 256px;
    border: 0;
    border-left: 5px solid gray;
    color: black;
    text-align: left;
    font-size: 17px;
    text-decoration: none;
    cursor: pointer;
}

.dropdown-menu{
    padding: 0;
    padding-left: 16px;
}

#c-top, #c-bottom{
    position: absolute;
    z-index: 2000;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    pointer-events: none;
}

#c-top{
    top: 0;
}

#c-bottom{
    bottom: 0;
}

.tip-box,.menu,#run-logo,#nav,#options{
    pointer-events: auto;
}

@media only screen and (max-width: 768px){
    #c-top, #c-bottom{
        align-items: stretch;
    }
    
    .menu, .menu-item, #nav, #hud, #options{
        width: 100%;
    }
    
    .mobile-none{
        display: none;
    }
}

/****/

#run-logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
    background-color: var(--gui-bg);
}

#run-logo img{
    height: 64px;
}

.tip-box{
    padding: 18px;
    background-color: var(--gui-bg);
}

.tip-content{
    padding: 4px 8px;
}

.tip-content .fas,.tip-content .fab,.tip-content .far{
    margin: 6px;
}

